<div class="ddl-currency-container">
  <div class="currency-icon-container">
    <fa-icon
      [icon]="faEuroSign"
      *ngIf="getCurrentCurrency() == 'EUR'">
    </fa-icon>
    <fa-icon
      [icon]="faDollarSign"
      *ngIf="getCurrentCurrency() != 'EUR'">
    </fa-icon>
  </div>
  <div class="currency-selector-container">
    <div ngbDropdown class="d-inline-block">
      <button class="btn" id="ddl-currency" ngbDropdownToggle>Currency</button>
      <div ngbDropdownMenu aria-labelledby="ddl-currency">
        <button (click)="setCurrency('USD')" ngbDropdownItem>
          American Dollar
        </button>
        <button (click)="setCurrency('CAD')" ngbDropdownItem>
          Canadian Dollar
        </button>
        <button (click)="setCurrency('EUR')" ngbDropdownItem>Euro</button>
      </div>
    </div>
  </div>
  <div class="currency-name-container">
    <span>{{ getCurrentCurrency() }}</span>
  </div>
</div>
