<div class="orders-container">
  <div *ngIf="!(isLoading | async) && orders.length == 0"
    class="alert alert-danger no-orders-message">
    You don't have Orders
  </div>

  <!-- Stored Event Viewer container-->
  <div class="stored-event-viewer-container">
    <template #storedEventViewerContainer></template>
  </div>

  <div class="card order-details-container" *ngIf="(isLoading | async)">
    <app-loader-skeleton></app-loader-skeleton>
  </div>
  <div *ngIf="orders.length > 0">
    <div class="order-container"
    *ngFor="let order of orders | sort:'createdAt':'desc'">
      <div class="card order-details-container">
        <div class="card-body">
          <div class="cart-header">
            <div class="row">
              <div class="col-7">
                <h4>Order #{{ getOrderIdString(order.orderId) }}</h4>
              </div>
              <div class="col-5">
                <div class="text-right">
                  <a
                    class="nav-link text-secondary underlineHover"
                    style="cursor: pointer"
                    (click)="showOrderStoredEvents(order.orderId)">
                    <fa-icon [icon]="faList"></fa-icon>
                    Order Events
                  </a>
                </div>
              </div>
            </div>
            <hr />
            <div class="mt-3">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="table-header">Product</th>
                    <th scope="col" class="table-header text-right">
                      Quantity
                    </th>
                    <th
                      scope="col"
                      class="table-header text-right"
                      style="width: 100px; text-align: right">
                      Price
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let orderLine of order.orderLines; index as i">
                    <td class="table-row product-name">
                      {{ orderLine.productName }}
                    </td>
                    <td class="table-row text-right">
                      {{ orderLine.quantity }}
                    </td>
                    <td style="width: 100px" class="text-right">
                      {{ order.currencySymbol }}
                      {{ orderLine.unitPrice }}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" class="table-row">
                      <div class="date-placed-container">
                        <b>Order placed on:</b>
                        <span class="date-placed-text">
                          {{ order.createdAt | date }}
                        </span>
                      </div>
                      <div class="total-to-pay-container">
                        <b>Total:</b>
                        <span class="total-to-pay-text text-right">
                          {{ order.currencySymbol }}
                          {{ order.totalPrice.toFixed(2) }}
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" class="table-row">
                      <div class="order-status-container">
                        <div class="order-status-text">
                          <div [ngClass]="getStatusCssClass(order.statusCode)">
                            {{ order.statusText }}
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
