<div class="orders-container">
  <div class="mb-4" *ngIf="!orderId">
    <h3>My Orders</h3>
  </div>
  <div class="mb-4" *ngIf="orderId">
    <h3>Your Order has been placed!</h3>
  </div>
  <div *ngIf="!isLoading && orders && orders.length == 0" class="alert alert-danger no-orders-message">
    You don't have Orders
  </div>
  <div *ngIf="orders && orders.length > 0">
    <div *ngFor="let order of orders | sortBy: 'desc':'createdAt'; index as i" class="order-details-container form-content">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="table-header">Product</th>
            <th scope="col" class="table-header">Quantity</th>
            <th scope="col" class="table-header">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orderLine of order.orderLines | sortBy: 'asc':'name'; index as i">
            <td class="table-row">{{ orderLine.productName }}</td>
            <td class="table-row">{{ orderLine.productQuantity }}</td>
            <td>{{ orderLine.productPrice }} {{ orderLine.currencySymbol }}</td>
          </tr>
          <tr>
            <td colspan="4" class="table-row">
              <div class="date-placed-container">
                <b>Order placed on:</b>
                <span class="date-placed-text" >
                  {{order.createdAt | date}}
                </span>
              </div>
              <div class="total-to-pay-container">
                <b>Total:</b>
                <span class="total-to-pay-text" >
                  {{order.totalPrice.toFixed(2)}} {{order.orderLines[0].currencySymbol}}
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
