.product-selection-container{
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
  float: left;

  .product-list-container{
    width: 55%;
    float: left;

    .product-list {
      border-radius: 5px;
      width: 100%;
      text-align: left;

      .quantity-selector {
        margin-top: 4px;
        border-radius:4px;
        height:33px;
        margin-right: 10px;
      }

      .table-row-text {
        line-height: 40px;
      }

      .name-column {
        width:150px;
      }

      .price-column {
        width:100px;
      }

      .add-column {
        width:200px;
        text-align: right;
      }

      .add-change-item-button {
        width: 150px;
      }
    }
  }

  .cart-details-container{
    width: 35%;
    margin-left: 20px;
    float: left;
  }
}
