<div class="product-selection-container">
  <div class="mb-4">
    <h3>Products</h3>
  </div>
  <div class="product-list-container">
    <div class="form-content product-list">
      <div *ngIf="products && products.length == 0" class="alert alert-danger no-orders-message">
        You don't have Products.
      </div>
      <div *ngIf="products && products.length > 0" class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <tr *ngFor="let product of products | orderBy:'name';; index as i">
              <td class="table-row-text name-column">{{ product.name }}</td>
              <td class="table-row-text price-column">{{ product.currencySymbol }} {{ product.price }}</td>
              <td class="add-column">
                <div *ngIf="product.quantity == 0">
                  <button (click)="saveCart(product)" class="btn btn-primary add-change-item-button" [disabled]="isLoading">
                    <fa-icon [icon]="faPlusCircle" title="Add to Cart"></fa-icon>
                    Add to Cart
                  </button>
                </div>
                <div *ngIf="product.quantity > 0">
                  <select id="cars" [(ngModel)]="product.quantity" class="quantity-selector">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <button (click)="addQuoteItem(product)" class="btn btn-secondary add-change-item-button" [disabled]="isLoading">
                    Change quantity
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="cart-details-container fadeInDown">
    <app-cart #cart
      (sendQuoteItemsEvent)="syncronizeQuoteToProductList($event)"
      (reloadProductsEvent)="loadProducts()">
    </app-cart>
  </div>
</div>
