<div class="product-selection-container">
  <div class="product-list-container">
    <div class="product-list">
      <div class="card" *ngIf="(isLoading | async) && products.length == 0">
        <app-loader-skeleton></app-loader-skeleton>
      </div>
      <div class="container">
        <div class="col-12"
          *ngFor="let product of products | sort:'name':'asc'">
          <div class="card product-container">
            <div class="card-body">
              <h3 class="card-title product-title">{{ product.name }}</h3>
              <span class="badge badge-category mb-4">
                {{product.category}}
              </span>
              <div class="row">
                <div class="col-2">
                  <img
                    src="{{ product.imageUrl }}"
                    class="card-img-top product-img"
                  />
                </div>
                <div class="col-10">
                  <p class="card-text product-description">
                    {{ product.description }}
                  </p>
                </div>
              </div>
              <div class="row mt-3 mb-2">
                <div class="col-3">
                  <span class="product-price">
                    <span class="currency-symbol">
                      {{product.currencySymbol}}</span>{{product.price}}
                  </span>
                </div>
                <div class="col-9">
                  <div
                    *ngIf="product.quantity == 0" class="add-product-container">
                    <button
                      (click)="saveCart(product)"
                      class="btn btn-primary add-change-item-button"
                      [disabled]="isLoading | async">
                      <fa-icon
                        [icon]="faPlusCircle"
                        title="Add to Cart"></fa-icon>
                      Add to Cart
                    </button>
                  </div>
                  <div *ngIf="product.quantity > 0">
                    <div class="change-quantity-container">
                      <button
                        (click)="addQuoteItem(product)"
                        class="btn btn-secondary add-change-item-button"
                        [disabled]="isLoading | async">
                        Change quantity
                      </button>
                      <select
                        [(ngModel)]="product.quantity"
                        class="quantity-selector">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-details-container">
    <app-cart
      #cart
      (sendQuoteItemsEvent)="syncronizeQuoteToProductList($event)"
      (reloadProductsEvent)="loadProducts()">
    </app-cart>
  </div>
</div>
