.modal-dialog {
  width: 100%;
  max-width: 850px;
  margin: 2rem auto;
}

.modal-content {
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.modal-body {
  padding: 2rem;
  font-size: 1.1rem;
  text-align: center;
}

.modal-header,
.modal-footer {
  padding: 1rem 2rem;
}

::ng-deep .modal-dialog {
  max-width: 500px !important;
}
