<div class="wrapper fadeInDown">
  <div class="form-content profile-form">
    <form [formGroup]="customerProfileForm">
      <div class="form-group">
        <input type="text" id="email" name="email" value="{{customer.email}}" name="email" readonly>
      </div>
      <div class="form-group">
        <input type="text" id="name" name="name" formControlName="name" placeholder="Name"
               [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-footer">
        <input type="button" value="Cancel" class="btn btn-secondary" [routerLink]="['/home']" />
        <input type="button" value="Update" class="btn btn-primary" (click)="saveProfile()"/>
      </div>
    </form>
  </div>
</div>
