table {
  margin-top: 5px;
  display: inline-block;
  overflow: auto;
}
th div {
  margin-top: -20px;
  position: absolute;
}

.stored-events-viewer {
  background-color: #fefef8;
  margin-bottom: 5%;

  .table-scroll {
    max-width: 100%;
    max-height: 400px;
    overflow-x: auto;
    overflow-y: auto;
  }
  .event-type {
    color: #4e8975;
    font-weight: bolder;
  }
  .event-data {
    color: #3c748f;
  }
  .close-container {
    text-align: center;
  }
}
