<div class="form-content cart-details-container">
  <div *ngIf="quote">
    <a class="quote-history nav-link text-secondary underlineHover" (click)="showQuoteStoredEvents()">
      <fa-icon [icon]="faList"></fa-icon>
      Quote Events
    </a>
  </div>
  <div class="cart-title">
    <h4>Cart</h4>
    <div *ngIf="quote" class="cancel-quote">
      <button (click)="cancelQuote(quote!)" class="btn remove-item">
        <fa-icon [icon]="faMinusCircle" title="Cancel quote"></fa-icon>
      </button>
    </div>
  </div>
  <div *ngIf="!quote || quote.items.length == 0" class="empty-cart-message alert alert-danger">
    No items
  </div>
  <div *ngIf="quote && quote.items.length > 0">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="table-header"></th>
            <th scope="col" class="table-header">Product</th>
            <th scope="col" class="table-header">Quantity</th>
            <th scope="col" class="table-header">Unit price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quoteItem of quote.items; index as i">
            <td class="table-row">
              <button (click)="removeItem(quoteItem)" class="btn remove-item">
                <fa-icon [icon]="faMinusCircle" title="Remove"></fa-icon>
              </button>
            </td>
            <td class="table-row">{{ quoteItem.productName }}</td>
            <td class="table-row">{{ quoteItem.quantity }}</td>
            <td class="table-row">{{ quoteItem.currencySymbol }} {{ quoteItem.unitPrice.toFixed(2) }}</td>
          </tr>
          <tr>
            <td colspan="4" class="table-row">
              <div class="total-to-pay-container">
                <b>Total:</b>
                <span class="total-to-pay-text" >
                  {{quote.currencySymbol}} {{quote.totalPrice.toFixed(2)}}
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="place-order-container">
      <button (click)="placeOrder()" class="btn btn-primary" [disabled]="isLoading">Place Order</button>
    </div>
  </div>
</div>

<!-- Stored Event Viewer container-->
<div class="stored-event-viewer-container">
  <template #storedEventViewerContainer></template>
</div>
