<div class="mt-3">
  <div class="alert alert-info" role="alert">
    <h1 class="alert-heading text-center">Welcome to Ecommerce DDD!</h1>
  </div>
  <p>This application was built using:</p>
  <ul>
    <li>
      <a href='https://get.asp.net' target="_blank">ASP.NET Core API</a> and <a href='https://learn.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-12' target="_blank">C# 12</a>
      for cross-platform backend with:
      <ul>
        <li>.NET 8</li>
        <li>Ocelot 23.4.2</li>
        <li>MMLib.SwaggerForOcelot 8.3.2</li>
        <li>Marten 7.33.2</li>
        <li>Entity Framework Core 9.0.0</li>
        <li>Npgsql.EntityFrameworkCore.PostgreSQL</li>
        <li>Postgres for Entity Framework Core 8.0.0</li>
        <li>ASP.NET Core Identity 8.0.0</li>
        <li>ASP.NET Core Authentication JwtBearer 8.0.0</li>
        <li>Duende IdentityServer 7.0.8</li>
        <li>MediatR 12.4.1</li>
        <li>Polly 8.4.2</li>
        <li>Fluent Assertions 7.0.0</li>
        <li>XUnit 2.9.2</li>
        <li>NSubstitute 5.3.0</li>
        <li>SwaggerGen/SwaggerUI 7.1.0</li>
        <li>Confluent Kafka 2.6.1</li>
      </ul>
    </li>
    <li>
      <a href='https://angular.io/' target="_blank">Angular v18.2.11</a> and <a href='http://www.typescriptlang.org/' target="_blank">TypeScript 5.5.4</a> for the frontend with:
      <ul>
        <li>Jest 29.7.0</li>
        <li>NgBootstrap 17.0.1/ Bootstrap 5.2.3</li>
        <li>Font Awesome 6.4.0</li>
        <li>Toastr 17.0.2</li>
      </ul>
    </li>
  </ul>
</div>
