<div class="mt-3">
  <div class="alert alert-info" role="alert">
    <h1 class="alert-heading text-center">Welcome to Ecommerce DDD!</h1>
  </div>
  <p>This application was built using:</p>
  <ul>
    <li>
      <a href="https://get.asp.net" target="_blank">ASP.NET</a> and
      <a
        href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx"
        target="_blank"
        >C# 10
      </a>
      for cross-platform backend with:
      <ul>
        <li>.NET 7</li>
        <li>Ocelot 19.0.3</li>
        <li>Marten 6.2.0</li>
        <li>Entity Framework Core 7.0.11</li>
        <li>Postgres for Entity Framework Core 7.0.11</li>
        <li>ASP.NET Core Identity 7.0.11</li>
        <li>ASP.NET Core Authentication JwtBearer 7.0.11</li>
        <li>Duende IdentityServer 6.3.5</li>
        <li>MediatR 12.1.1</li>
        <li>Polly 8.0.0</li>
        <li>Fluent Assertions 6.12.0</li>
        <li>XUnit 2.5.1</li>
        <li>NSubstitute 5.1.0</li>
        <li>Swagger 6.5.0</li>
        <li>Confluent Kafka 2.2.0</li>
        <li>Docker Compose</li>
      </ul>
    </li>
    <li>
      <a href="https://angular.io/" target="_blank">Angular 16</a> and
      <a href="http://www.typescriptlang.org/" target="_blank">TypeScript</a>
      for the frontend with:
      <ul>
        <li>NgBootstrap / Bootstrap 5.2.3</li>
        <li>Font Awesome</li>
        <li>Toastr</li>
      </ul>
    </li>
  </ul>
</div>
