<div class="mt-3">
  <div class="alert alert-info" role="alert">
    <h1 class="alert-heading text-center">Welcome to Ecommerce DDD!</h1>
  </div>
  <p>This application was built using:</p>
  <ul>
    <li>
      <a href='https://get.asp.net' target="_blank">ASP.NET</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx' target="_blank">C# 10</a>
      for cross-platform back-end with:
      <ul>
        <li>.NET 7</li>
        <li>ASP.NET Core Minimal API</li>
        <li>Ocelot 18.0.0</li>
        <li>Marten 6.0.0-alpha.11</li>
        <li>Entity Framework Core 7.0.4</li>
        <li>Postgres for Entity Framework Core 7.0.3</li>
        <li>ASP.NET Core Identity 7.0.4</li>
        <li>ASP.NET Core Authentication JwtBearer 7.0.4</li>
        <li>Duende IdentityServer 6.2.3</li>
        <li>SignalR Core</li>
        <li>MediatR 12</li>
        <li>Fluent Assertions 6.10.0</li>
        <li>XUnit 2.4.2</li>
        <li>Moq 4.18.4</li>
        <li>Swagger 6.5.0</li>
        <li>Confluent Kafka 2.02</li>
        <li>Docker Compose</li>
      </ul>
    </li>
    <li>
      <a href='https://angular.io/' target="_blank">Angular 13</a> and <a href='http://www.typescriptlang.org/' target="_blank">TypeScript</a> for the front-end with:
      <ul>
        <li>NgBootstrap</li>
        <li>Font Awesome</li>
        <li>Toastr</li>
        <li>Angular JWT</li>
      </ul>
    </li>
  </ul>
</div>
