<div class="wrapper fadeInDown">
  <div class="form-content login-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" id="email" name="email" formControlName="email" placeholder="Login"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">E-mail is required</div>
        </div>
      </div>
      <div class="form-group">
          <input type="password" id="password" name="password" formControlName="password" placeholder="Password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
      </div>
      <input [disabled]="loading" type="submit" class="btn btn-primary" value="Log In">
    </form>

    <div class="form-footer">
      <a [routerLink]="['/account']" href="" class="underlineHover">Create my account</a>
    </div>
  </div>
</div>

<div class="wrapper mt-5">
  <div class="stargazers-container alert alert-dark">
    Did you like it?<strong> give a star!</strong><br><br>
    <github-button type="stargazers" size="large" namespace="falberthen" repo="EcommerceDDD"></github-button>
  </div>
  <ul>
    <li>
      <a href='http://localhost:5000/swagger/index.html' target="_blank">
        Check the API using Swagger!
      </a>
    <li>
      <a href='http://localhost:5000/hc-ui' target="_blank">
        Check the HeathChecks!
      </a>
    </li>
  </ul>
</div>

