<div class="card fadeInDown login-container">
  <div class="card-body login-form">
    <div class="cart-header">
      <div class="row">
        <h4>Login</h4>
      </div>
    </div>
    <div class="form-group row mt-3">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input
            class="form-control"
            type="text"
            id="email"
            name="email"
            formControlName="email"
            placeholder="Login"
            [ngClass]="{ 'is-invalid': isFieldInvalid('email') }"
          />
          <div class="invalid-feedback" *ngIf="isFieldInvalid('email')">
            Email is required
          </div>
        </div>
        <div class="form-group mt-3">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            formControlName="password"
            placeholder="Password"
            [ngClass]="{ 'is-invalid': isFieldInvalid('password') }"
          />
          <div class="invalid-feedback" *ngIf="isFieldInvalid('password')">
            Password is required
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-12">
            <input
              type="submit"
              class="btn btn-primary login-button"
              value="Log In"
              [disabled]="loginForm.invalid || (isLoading | async)"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="row mt-3">
      <hr />
      <div class="col-lg-12">
        <a [routerLink]="['/customer-account']" class="create-account-link"
          >Create my account</a
        >
      </div>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="stargazers-container alert alert-dark">
    Did you like it?<strong> give a star!</strong><br /><br />
    <github-button
      type="stargazers"
      size="large"
      namespace="falberthen"
      repo="EcommerceDDD"
    ></github-button>
  </div>
</div>
