<div class="card fadeInDown login-container">
  <div class="card-body login-form">
    <h4>Choose a new password</h4>
    <hr />
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        class="form-control"
        type="password"
        formControlName="password"
        placeholder="New password"
      />
      <input
        class="form-control mt-3"
        type="password"
        formControlName="passwordConfirm"
        placeholder="Confirmation"
      />
      <input
        type="submit"
        class="btn btn-primary login-button mt-3"
        value="Change password"
        [disabled]="form.invalid || loaderService.loading()"
      />
    </form>
    <hr />
    <a [routerLink]="['/login']" class="create-account-link">Back to login</a>
  </div>
</div>
