.stored-events-viewer-content {
  border-radius: 10px 10px 10px 10px;
  background: #ffffff;
  position: relative;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: left;
  outline:none;
  box-shadow: 0px 0px 14px #3c748f;
  -moz-box-shadow: 0px 0px 14px #3c748f;
  -webkit-box-shadow: 0px 0px 14px #3c748f;
  overflow-x: auto;
  max-width: 100%;
}

.action-column {
  font-weight: 500;
}

.table-scroll {
  max-width: 100%;
  max-height: 400px;
  overflow-x: auto;
  overflow-y: auto;
}
