<div class="wrapper fadeInDown">
  <div class="stored-events-viewer-content">
    <div *ngIf="storedEventDataRows && storedEventDataRows.length == 0" class="alert alert-danger">
      No events to display
    </div>
    <div *ngIf="storedEventDataRows && storedEventDataRows.length > 0">
      <table class="table table-responsive table-scroll">
        <thead class="thead-light">
          <tr>
            <th *ngFor="let tableHead of storedEventDataRows | sortBy:'asc':'position'">
              {{tableHead.columnName | titlecase }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tableData of storedEventData" style="width:1px; white-space:nowrap;">
            <td *ngFor="let colName of storedEventDataRows | sortBy:'asc':'position' let i = index">
              <span [ngClass]="{ 'action-column': i === 0 }">
                {{tableData[colName.columnName]}}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-footer">
      <input type="button" class="btn btn-secondary" (click)="close()" value="Close">
    </div>
  </div>
</div>
