a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.app-title {
  font-family: Architects Daughter;
  color:white;
}

.custom-container {
  width: 100%;
  text-align: center;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.main-title-container {
  text-align:center;
  width:100%;
  background-color: #2879d0;
  padding-top: 15px;
}

.currency-container{
  width: 155px;
  float:left;
}

.currency-selector-container {
  width:100px;
  float:left;
}
